Repository hashicorp/consul-template, pull requests merged in 2020-03, with the labels that each got.

#1333 docker: alpine without docker-base
  docker/alpine/Dockerfile
  docker/alpine/docker-entrypoint.sh
Labels: enhancement

#1352 don't renew vault token when no token is set
  config/vault.go
  config/vault_test.go
Labels: bug, vault

#1354 fix bug looking up versioned vault secrets
  dependency/vault_read.go
  template/template_test.go
Labels: bug, vault

#1355 simplified the code in a couple places
  template/funcs.go
  template/funcs_test.go
Labels: bug

#1358 Add lease calculation for rotating secrets
  dependency/vault_common.go
  dependency/vault_common_test.go
Labels: enhancement, vault
