Repository hashicorp/consul-template, pull requests merged in 2022-09, with the labels that each got.

#1639 Attempt to resolve GH 17166 where agent crashes when no certs available
  dependency/vault_pki.go
  dependency/vault_pki_test.go
Labels: bug, vault, hashicat-update-required

#1647 Add docs for template file ownership
  docs/configuration.md
Labels: docs

#1644 fix goroutine leak on fetch sleep
  dependency/vault_read.go
Labels: bug, vault
